<html>
<head>
  	  <title>Registration. Please fill in the form below.
  	  </title>
    </head>
    <body bgcolor="white" text="black" link="black" alink="black" vlink="black" background="white" >
      <font face="verdana,arial" size=-1>
      <center>
      	<table cellpadding='2' cellspacing='0' border='0' id='ap_table'>
      		<tr>
      			<td bgcolor="white">
      				<table cellpadding='0' cellspacing='0' border='0' width='100%'>
      					<tr>
      						<td bgcolor="white" align=center style="padding:2;padding-bottom:4">
      							<b><font size=-1 color="black" face="verdana,arial"></b>
      							<b>Registration. Please fill in the form below.</b></font>
      						</td>
      					</tr>
      					  <tr>
      						<td bgcolor="white" style="padding:5"><br>
      							<script language="JavaScript" src="http://www.authpro.com/regformcheck.js"></script>
      							<form method="post" action="..." onSubmit="return verifyform(this);">
      								<input type="hidden" name="action" value="reg2">
      								<input type="hidden" name="user" value="deluxe">
      								<center>
      									<table>
      										<tr>
      											<td>
      												<font face="verdana,arial" size=-1>Email:
      											</td>
      											<td>
      											    <font face="verdana,arial" size=-1><input type="text" name="_email">
      											</td>
      									    </tr>
      									    <tr>
      									    	<td>
      									    		<font face="verdana,arial" size=-1>Login:
      									    	</td>
      									    	<td>
      									    		<font face="verdana,arial" size=-1>
      									    		<input type="text" name="_login">
      									    	</td>
      									    </tr>
      									    <tr>
      									    	<td>
      									    		<font face="verdana,arial" size=-1>Choose password:
      									    	</td>
      									    	<td>
      									    		<font face="verdana,arial" size=-1>
      									    		<input type="password" name="_password">
      									    	</td>
      									    </tr>
      									    <tr>
      									    	<td>
      									    		<font face="verdana,arial" size=-1>Verify password:
      									    	</td>
      									    	<td>
      									    		<font face="verdana,arial" size=-1>
      									    		<input type="password" name="_password2">
      									    	</td>
      									    </tr>
      									    <tr>
      									    	<td>
      									    		<font face="verdana,arial" size=-1>&nbsp;
      									    	</td>
      									    	<td>
      									    		<font face="verdana,arial" size=-1>
      									    		<input type="submit" value="Submit">
      									    	</td>
      									    </tr>
      									</table>
      								</center>
      							</form>
      						</td>
      					</tr>
      				</table>
      			</td>
      		</tr>
      	</table>
      	<p>
      		<center>Demo Account</center>
      	</p>
      </body>
</html>